# dependencies
/node_modules

# production
/build
/dist

# Typescript v1 declaration files
typings/

# Optional npm cache directory
.npm

# dotenv environment variable files
.env*

# misc
.DS_Store
.cache

npm-debug.log*